<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <% if (user) { %>
        <p>Welcome, <%= user.name %>!</p>
        <p>Email: <%= user.email %></p>
        <a href="/logout">Logout</a>
    <% } else { %>
        <p>User not found</p>
    <% } %>
</body>
</html>